# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Ordenadores/nbproject/private/
/NumerosExtenso/nbproject/private/
/ControleVendasFiliais/nbproject/private/
/ListasExercicios/nbproject/private/
/Projeto Torre de Hanoi 1.2/nbproject/private/
/CasamentoForcaBruta/nbproject/private/
/Dicionario/nbproject/private/
/ManipulacaoArquivo/nbproject/private/
/OpenReadWhiteArquivo/nbproject/private/
/ShowConteudoRaizPasta/nbproject/private/
/Teste/nbproject/private/
/Teste/build/
/Avaliações Parciais/ListaOneOO/nbproject/private/
/Avaliações Parciais/ListaOneOO/build/